<a href="/">Voltar</a>
<form action="/editado/{{id}}" method="post">
  <p>Título: </p>
  <input type="text" name="titulo" placeholder="{{titulo}}">
  <p>Conteúdo: </p>
  <textarea name="conteudo" rows="8" cols="40" placeholder="{{conteudo}}"></textarea>
  <p>Autor: </p>
  <input type="text" name="autor" placeholder="{{autor}}">
  <p>isbn: </p>
  <input type="text" name="isbn" placeholder="{{isbn}}"><br><br>
  
  <button type="submit">Editar Livro</button>
</form>