<h1>Lista de Livros</h1>

{{#each posts}}

    <h1>{{dataValues.titulo}}</h1>
    <p>{{dataValues.conteudo}}</p>
    <p>{{dataValues.createdAt}}</p>
    <p>
        <a href="/cad"><button>Criar</button></a>
        <a href="/deletar/{{dataValues.id}}"><button>Remover</button></a>
        <form action="/edit/{{dataValues.id}}"method="get"><button type="submit">edit</button></form>
    </p>
          

{{/each}}


   
          
  